@import "../../assets/styles/variables.scss";
.onboardingContainer{
    height: 100vh;
    position: relative;
    &.dark{
        background-color: $secondary-color;
    }
    &.light{
        background-color: $primary-color-light;
        .paginationContainer{
            .dot{
                &.dark{
                    background-color: #999999;
                }
                &.light{
                    background-color: $primary-color;
                }
            }
        }
    }
    .logo{
        margin: 0 auto;
        padding-top: 4rem;
        display: block;
        width: 11rem;
    }
    .descBig{
        text-align: center;
        color: $secondary-text-color;
        margin-top: 2rem;
        font-weight: 500;
    }
    .descSmall{
        text-align: center;
        color: $secondary-text-color;
        margin-top: 1rem;
        font-size: 0.9rem;
        padding: 0 3rem;
        line-height: 2rem;
    }
    .nextBtn{
        color: $secondary-text-color;
        background-color: $secondary-color-dark;
        width: 100%;
        font-family: iransans;
        height: 3rem;
        border: none;
        position: absolute;
        bottom: 4rem;  
        font-weight: 500;  
    }
    .paginationContainer{
        position: absolute;
        bottom: 2rem;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
        .dot{
            width: 7px;
            height: 7px;
            border-radius: 50%;
            margin: 0 2px;
            &.dark{
                background-color: #333333;
            }
            &.light{
                background-color: beige;
            }
        }
    }
    .input{
        width: 80%;
        margin: 0 auto;
        display: block;
        margin-top: 3rem;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid $primary-color-dark;
        color: $secondary-color;
        text-align: center;
        font-family: iransans;
        font-weight: 500;
    }
    .signupLater{
        position: absolute;
        bottom: 4rem;
        width: 100%;
        text-align: center;
        color: $secondary-color-dark;
        font-size: 0.9rem;
        font-weight: 500;
    }
    .loginBtn{
        color: $primary-text-color;
        border: none;
        background-color: transparent;
        font-family: iransans;
        font-weight: 500;
        margin: 0 auto;
        display: block;
        margin-top: 2rem;
    }
}