@tika:registry=https://gitlab.keylid.com/api/v4/packages/npm/
//gitlab.keylid.com/api/v4/packages/npm/:_authToken=ecssWA1tc_fiNVn9rw_k
//gitlab.keylid.com/api/v4/projects/:_authToken=ecssWA1tc_fiNVn9rw_k