@import "../../assets/styles/variables.scss";
.subcategoryContainer{
    .main{
        padding-top: 1rem;
        height: calc(100vh - 3rem);
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        .item{
            width: 45%;
            height: 7rem;
            .title{
                line-height: 7rem;
            }
        }
        .shakhenabatBg,.tavasolBg{
            width: 100%;
            background-size: 80%;
            background-repeat: no-repeat;
            background-position: bottom left;
            background-color: #2b1b01;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding-top: 4rem;
            padding-right: 6rem;
            padding-left: 6rem;
            h3,h5,h6{
                color: $primary-color;
            }
            h4{
                color: $secondary-text-color;
                font-weight: 300;
                text-align: center;
            }
            h5,h6{
                margin-top: 1rem;
                line-height: 2;
                text-align: center;
            }
            .faalBtn{
                background-color: $primary-text-color;
                color: $secondary-text-color;
                border:none;
                padding:0.5rem 1rem;
                font-family: iransans;
                margin-top: 4rem;
            }
        }
        .shakhenabatBg{
            background-image: url("../../assets/images/background_faal.jpg");
        }
        .tavasolBg{
            background-image: url("../../assets/images/background_estekhare.jpg");
        }
    }
}