@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('YekanBakhFaNum-Heavy.eot');
    src: local('Yekan Bakh FaNum Heavy'), local('YekanBakhFaNum-Heavy'),
        url('YekanBakhFaNum-Heavy.eot?#iefix') format('embedded-opentype'),
        url('YekanBakhFaNum-Heavy.woff2') format('woff2'),
        url('YekanBakhFaNum-Heavy.woff') format('woff'),
        url('YekanBakhFaNum-Heavy.ttf') format('truetype'),
        url('YekanBakhFaNum-Heavy.svg#YekanBakhFaNum-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('YekanBakhFaNum-Medium.eot');
    src: local('Yekan Bakh FaNum Medium'), local('YekanBakhFaNum-Medium'),
        url('YekanBakhFaNum-Medium.eot?#iefix') format('embedded-opentype'),
        url('YekanBakhFaNum-Medium.woff2') format('woff2'),
        url('YekanBakhFaNum-Medium.woff') format('woff'),
        url('YekanBakhFaNum-Medium.ttf') format('truetype'),
        url('YekanBakhFaNum-Medium.svg#YekanBakhFaNum-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('YekanBakhFaNum-Thin.eot');
    src: local('Yekan Bakh FaNum Thin'), local('YekanBakhFaNum-Thin'),
        url('YekanBakhFaNum-Thin.eot?#iefix') format('embedded-opentype'),
        url('YekanBakhFaNum-Thin.woff2') format('woff2'),
        url('YekanBakhFaNum-Thin.woff') format('woff'),
        url('YekanBakhFaNum-Thin.ttf') format('truetype'),
        url('YekanBakhFaNum-Thin.svg#YekanBakhFaNum-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('YekanBakhFaNum-Regular.eot');
    src: local('Yekan Bakh FaNum Regular'), local('YekanBakhFaNum-Regular'),
        url('YekanBakhFaNum-Regular.eot?#iefix') format('embedded-opentype'),
        url('YekanBakhFaNum-Regular.woff2') format('woff2'),
        url('YekanBakhFaNum-Regular.woff') format('woff'),
        url('YekanBakhFaNum-Regular.ttf') format('truetype'),
        url('YekanBakhFaNum-Regular.svg#YekanBakhFaNum-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('YekanBakhFaNum-Light.eot');
    src: local('Yekan Bakh FaNum Light'), local('YekanBakhFaNum-Light'),
        url('YekanBakhFaNum-Light.eot?#iefix') format('embedded-opentype'),
        url('YekanBakhFaNum-Light.woff2') format('woff2'),
        url('YekanBakhFaNum-Light.woff') format('woff'),
        url('YekanBakhFaNum-Light.ttf') format('truetype'),
        url('YekanBakhFaNum-Light.svg#YekanBakhFaNum-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yekan Bakh FaNum';
    src: url('YekanBakhFaNum-Bold.eot');
    src: local('Yekan Bakh FaNum Bold'), local('YekanBakhFaNum-Bold'),
        url('YekanBakhFaNum-Bold.eot?#iefix') format('embedded-opentype'),
        url('YekanBakhFaNum-Bold.woff2') format('woff2'),
        url('YekanBakhFaNum-Bold.woff') format('woff'),
        url('YekanBakhFaNum-Bold.ttf') format('truetype'),
        url('YekanBakhFaNum-Bold.svg#YekanBakhFaNum-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

