@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/iransans-medium-web_bashgahegraphic.ir.ttf');
    src: url('../fonts/iransans-medium-web_bashgahegraphic.ir.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/iransans-medium-web_bashgahegraphic.ir.ttf');
    src: url('../fonts/iransans-medium-web_bashgahegraphic.ir.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 900;
    src: url('../fonts/iransans-bold-web_bashgahegraphic.ir.ttf');
    src: url('../fonts/iransans-bold-web_bashgahegraphic.ir.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: bold;
    src: url('../fonts/iransans-bold-web_bashgahegraphic.ir.ttf');
    src: url('../fonts/iransans-bold-web_bashgahegraphic.ir.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/iransans-light-web_bashgahegraphic.ir.ttf');
    src: url('../fonts/iransans-light-web_bashgahegraphic.ir.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/iransans-ultralight-web_bashgahegraphic.ir.ttf');
    src: url('../fonts/iransans-ultralight-web_bashgahegraphic.ir.ttf') format('truetype');
}
@font-face {
    font-family: iransans;
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/iransans-ultralight-web_bashgahegraphic.ir.ttf');
    src: url('../fonts/iransans-ultralight-web_bashgahegraphic.ir.ttf') format('truetype');
}