$primary-color: #d2ac67;
$primary-color-dark: #ba985a;
$primary-color-light: #fff8ec;
$primary-text-color: #841e20;

$secondary-color: #066867;
$secondary-color-dark: #044342;
$secondary-text-color: #ffffff;
