@import "../../assets/styles/variables.scss";
.categoryContainer{
    .main{
        padding-top: 1rem;
        height: calc(100vh - 3rem);
        flex-direction: column;
        .item{
            height: 9rem;
        }
    }
}