@import "../../assets/styles/variables.scss";
.dreamPageContainer{
    .main{
        flex-direction: column;
        .searchBarContainer{
            background-color: $primary-color;
            width: 100%;
            border-top: 2px solid $primary-color-dark;
            .title{
                color: $secondary-text-color;
                font-size: 0.7rem;
                margin: 0.4rem 0;
                text-align: center;
                width: 100%;
            }
            .searchBox{
                height: 2rem;
                background-color: $secondary-text-color;
                width: 95%;
                margin: 0 auto 0.5rem;
                display: flex;
                align-items: center;
                position: relative;
                .icon{
                    width: 20px;
                    height: 20px;
                    margin: 0 0.5rem;
                }
                .searchInput{
                    border: none;
                    font-family: iransans;
                    font-size: 0.65rem;
                }
                .searchResult{
                    position: absolute;
                    top: 2rem;
                    width: 100%;
                    background-color: #fff;
                    border-top: 1px solid #eee;
                    z-index: 9;
                    p{
                        padding: 0.4rem;
                        border-bottom: 1px solid #ccc;
                        font-size: 0.7rem;
                    }
                }
            }
            .alphabetList{
                max-width: 100%;
                overflow-x: scroll;
                display: flex;
                flex-direction: row;
                padding: 0 0.5rem;
                .char{
                    padding: 0 0.5rem 0.3rem;
                    display: inline-block;
                    color: $secondary-text-color;
                    font-size: 0.8rem;
                    opacity: 0.8;
                    margin: 0 0.1rem;
                    &.active{
                        border-bottom: 2px solid $secondary-text-color;
                        opacity: 1;
                    }
                }
            }
        }
        .wordsList{
            background-color: $primary-color-light;
            // height: 5rem;
            max-height: calc(100vh - 48px - 6.5rem);
            overflow-y: scroll;
            .word{
                padding: 0.5rem 0.7rem;
                border-bottom: 1px solid lighten($color: $primary-color, $amount: 30);
                font-size: 0.6rem;
            }
        }
    }
}